body {
  background: #f0f2f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #2b2d42;
  color: white;
  padding: 15px 25px;
  font-size: 24px;
}

.home-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.password-form,
.password-list {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.password-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background: #2b2d42;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.password-item {
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
}

.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.eye-btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background: #2b2d42;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
