body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #2b69bf;
}

.home-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
.password-form {
  background: #230505;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-left: 5px solid #100c62;
}

.password-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.password-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.password-form button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.password-form button:hover {
  background: #3b37c8;
}

.password-list h2 {
  margin-bottom: 15px;
}

.password-item {
  background: #ffffff;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.password-item p {
  margin: 6px 0;
  font-size: 15px;
}

.password-item strong {
  color: #222;
}

.eye-btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.eye-btn:hover {
  background: #3f38cc;
}

.delete-btn {
  margin-top: 12px;
  padding: 8px 14px;
  border: none;
  background: crimson;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.delete-btn:hover {
  background: #b3002d;
}
@media (max-width: 600px) {
  .home-container {
    padding: 10px;
  }

  .password-form, 
  .password-item {
    padding: 15px;
  }
}
